---
import Layout from '../layouts/Layout.astro';
import todo from '../../TODO?raw';

const escaped = todo.trimEnd()
  .replaceAll('&', '&amp;')
  .replaceAll('<', '&lt;')
  .replaceAll('>', '&gt;');
const todoHtml = escaped.replace(/https:\/\/[^\s]+/g, (url) => `<a href="${url}">${url}</a>`);
---

<Layout title="TODO">
  <section class="page-head"><div class="shell"><p class="eyebrow">/todo</p><h1>TODO.</h1><p class="lede">One file. No tickets, statuses, assignees, ceremonies, or other project-management furniture.</p><div class="actions"><a class="button primary" href="https://github.com/NikolayS/hacking-postgres/blob/main/TODO">view source</a></div></div></section>
  <section class="section"><div class="shell"><pre class="todo-file" set:html={todoHtml}></pre></div></section>
</Layout>
